

// bandcom section 

#bandcamb{
    background: url(..//images/breadcumb_bg_about.png);
    background-position: center;
    background-size: cover;
    height: 400px;
    z-index: 1;
    position: relative;
    color: $white-color;
    &::after{
        content: '';
        position: absolute;
        inset: 0;
        background: rgba(0,0,0,0.5);
        z-index: -1;
    }
    h2{
        font-weight: 700;
        font-size: 48px;
        margin-bottom: 16px;
    }
    p{
        font-weight: 400;
        font-size: 16px;
    }
}





//  shop section 

#about_shop{
    margin: 50px 0;
    padding: 20px 0;
    position: relative;
    z-index: 1;
    .about_img{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            border: 14px solid #BDBDBD;
            width: 284px;
            height: 313px;
            z-index: -1;
            bottom: 0;
            left: -46px;
            animation: moving 5s linear alternate infinite;
        }
    }
    .about_shape{
        position: absolute;
        top: 0;
        right: 0;
        background-color:$bg-color;
        height: 100%;
        width: 100%;
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
        z-index: -1;
    }
    .about_shop_content h2{
        font-weight: 700;
        font-size: 36px;
        color: $text-color;
        margin-bottom: 10px;
    }
    .about_shop_content p{
        font-weight: 400;
        font-size: 16px;
        color: $text-color;
        line-height: 28px;
        padding-bottom: 20px;
    }
    ul{
        padding-top: 20px;
        li{
            font-weight: 400;
            font-size: 16px;
            color: $paragraph-color;
            margin-bottom: 10px;
            img{
                margin-right: 10px;
            }
        }
    }
    .anchor_design{
        margin-top: 34px;
        background-color: $primary-color-1;
        &:hover{
            background-color: $primary-color-3;
            letter-spacing: 0;
        }
    }
}
@keyframes moving{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(50px);
    }
    100%{
        transform: translateX(0);
    }
}



// achievement  counter section 

#achievement{
    padding: 90px 0;
    i{
        width: 70px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        background-color: $bg-color;
        color: $primary-color-1;
        border-radius: 50%;
        font-size: 22px;
        display: block;
        margin: auto;
    }
    span{
        font-weight: 700;
        font-size: 36px;
        color: $primary-color-1;
        padding: 20px 0;
    }
    p{
        font-size: 16px;
        color: $paragraph-color;
    }
}




// our story section starts here 

#our_story{
    background-color: $bg-color;
    position: relative;
    height: 520px;
    display: flex;
    align-items: center;
    h2{
        font-size: 36px;
        color: $text-color;
        font-weight: 700;
        padding-bottom: 10px;
    }
    p{
        font-size: 16px;
        color: $paragraph-color;
        font-weight: 400;
    }
    .story_content{
        position: absolute;
        inset: 0 0 0 50%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        a i{
            color: $primary-color-1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 60px;
            height: 60px;
            line-height: 60px;
            font-size: 20px;
            text-align: center;
            border-radius: 50%;
            background-color: $white-color;
            z-index: 99;
            box-shadow: $box-shadow-2;
            &::after{
                content: '';
                position: absolute;
                inset: 0;
                background: $white-color;
                border-radius: 50%;
                z-index: -1;
                animation: pulse 2s infinite alternate linear;
            }
        }
        .overlay{
            position: absolute;
            inset: 0;
            .front{
                width: 100%;
                height: 0%;
                background-color: #ffffff71;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                transition: 2s ease;
            }
            .back{
                width: 0%;
                height: 100%;
                background-color: #ffffff71;
                position: absolute;
                left: 50%;
                top: 0;
                transform: translateX(-50%);
                transition: 2s ease;
            }            
        }
        &:hover .front{
            height: 100%;
            opacity: 0;
        }
        &:hover .back{
            width: 100%;
            opacity: 0;
        }
    }
}
// our story secvtion ends here 


// promotion section 

#promotion{
    padding: 50px 0;
}

// promotion section ends here 


// team section 

#team{
    padding: 60px 0;
    .team_container{
        position: relative; 
    }
    h2{
        font-size: 36px;
        font-weight: 700;
        color: $text-color;
        padding-bottom: 25px;
    }
    
    .team_slider_item{
        box-shadow: $box-shadow-2;
        margin: 5px 12px;
        h6{
            font-size: 20px;
            font-weight: 600;
            text-align: center;
            padding: 6px 0;
        }
        p{
            font-size: 16px;
            font-weight: 400;
            text-align: center;
            padding-bottom: 6px;
            color: $primary-color-1;
        }
        span{
            padding-bottom: 6px;
            display: flex;
            justify-content: center;
            i{
                color: $text-color;
                margin: 0 5px;
                width: 20px;
                height: 20px;
                transition: 0.3s;
                &:hover{
                    color: $primary-color-1;
                }
            }
            
        }
        
    }
    .team_left{
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 34px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        font-size: 12px;
        color: $text-color;
        border-radius: 50%;
        background-color: $background-color;
        z-index: 99;
        transition: 0.5s;
        &:hover{
            color: $white-color;
            background-color: $primary-color-1;
        }
        
    }
    .team_right{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 34px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        font-size: 12px;
        color: $text-color;
        border-radius: 50%;
        background-color: $background-color;
        z-index: 99;
        transition: 0.5s;
        &:hover{
            color: $white-color;
            background-color: $primary-color-1;
        }
    }
}

// team section ends 













// testimonial section 

#testimonial{
    padding: 60px 0;
    position: relative;
    img{
        border-radius: 50%;
    }
    .test_top img{
        padding-bottom: 10px;
    }
}

.testimonial_slider {
    position: relative;
    p{
        width: 570px;
        display: block;
        margin: 0 auto;
        font-size: 16px;
        line-height: 28px;
        color: $paragraph-color;
        padding: 10px 0;
    }
    h5{
        font-weight: 700;
        color: $text-color;
        font-size: 24px;
    }
    h6{
        font-size: 16px;
        color: $primary-color-1;
    }
    .testimonial_dots{
        position: absolute;
        bottom: -8%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        li{
            button{
                font-size: 0;
                border: none;
                width: 10px;
                height: 6px;
                border-radius: 5px;
                margin-right: 5px;
                background-color: $gray-color-2;
            }
            &.slick-active button{
                background-color: $primary-color-1;
                width: 26px;
            }
        }
    }
}


.test_animate_slider {
    position: sticky;
}
.test_animate_slider .slick-list.draggable{
    position: sticky;
    overflow: visible;
    transform: initial;
}
.test_animate_slider .slick-track {
    position: static;
    overflow: visible;
    transform: initial !important;
}

.test_animate_slider .test_animate_slider_item{
    position: absolute;
    z-index: 999999999999999;
    animation: 5s anime infinite linear alternate;
}

.test_animate_slider .test_animate_slider_item:nth-child(1) {
	left: 250px;
	bottom: 69px;
	width: 60px !important;
	height: 60px !important;
	animation-delay: 1s;
}

.test_animate_slider .test_animate_slider_item:nth-child(2) {
	left: 50px;
	top: -51px;
	width: 70px !important;
	height: 70px !important;
	animation-delay: 1.2s;
}

.test_animate_slider .test_animate_slider_item:nth-child(3) {
	right: 288px;
	top: -23px;
	width: 50px !important;
	height: 50px !important;
	animation-delay: .5s;
}

.test_animate_slider .test_animate_slider_item:nth-child(4) {
	right: 0;
	bottom: 90px;
	width: 40px !important;
	height: 40px !important;
	animation-delay: 1.4s;
}

.test_animate_slider .test_animate_slider_item:nth-child(5) {
	left: 130px;
	bottom: 150px;
	width: 62px !important;
	height: 62px !important;
	animation-delay: 1.4s;
}

.test_animate_slider .test_animate_slider_item:nth-child(6){        
    top: -200px;
    right: 150px;
    width: 60px !important;
    height: 60px !important;
    animation-delay: 1s;
}

.test_animate_slider .test_animate_slider_item:nth-child(7){        
    left: 200px;
    bottom: 40px;
    width: 44px !important;
    height: 44px !important;
    animation-delay: 1s;
}

.test_animate_slider .test_animate_slider_item:nth-child(8) {
	top: -46px;
	right: 90px;
	width: 40px !important;
	height: 40px !important;
	animation-delay: 1.6s;
}

@keyframes anime{
    0%{
        transform: translate(0%, 0%);
    }
    50%{
        transform: translate(30%, 20%);
    }
    100%{
        transform: translate(15%, 10%);
    }
}

// testimonial section ends here 






// instagram section 


#instagram{
    padding: 50px 0;
    h3{
        text-align: center;
        padding-bottom: 25px;
        font-weight: 700;
        font-size: 36px;
        color: $text-color;
    }
    .instagram_slider{
        position: relative;
        .instagram_dots{
            position: absolute;
            bottom: -12%;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            li{
                button{
                    font-size: 0;
                    border: none;
                    width: 10px;
                    height: 6px;
                    border-radius: 5px;
                    margin-right: 5px;
                    background-color: $gray-color-2;
                }
                &.slick-active button{
                    background-color: $primary-color-1;
                    width: 26px;
                }
            }
        }
    }
    .instagram_slider_item{
        position: relative;
        margin-right: 10px;
        .overlay{
            position: absolute;
            inset: 0;
            background: rgba(0,0,0,0.6);
            text-align: center;
            transition: 0.68s;
            transform: scale(0);
            i{
                font-size: 20px;
                color: $white-color;
                cursor: pointer;
                transition: all linear 0.4s;
                &:hover{
                    color: $primary-color-1;
                }
            }
        }
        &:hover .overlay{
            transform: scale(1);
        }
    }

}

// instagram slider section ends 








// footer section starts here 

#footer{
    background: $background-color;
    padding: 100px 0 0;
    .footer_top{
        border-bottom: 1px dotted $primary-color-3;
        padding-bottom: 60px;
        h2{
            font-weight: 700;
            font-size: 36px;
            color: $text-color;
            padding-bottom: 10px;
        }
        p{
            font-size: 16px;
            color: $paragraph-color;
        }
        input{
            padding: 10px 15px;
            border: none;
            background-color: $white-color;
            width: 60%;
        }
        button{
            background-color: $primary-color-1;
            margin-left: -5px;
            padding: 10px 30px;
            &:hover{
                letter-spacing: 0;
                background-color: $text-color;
            }
        }
    }
    .footer_info{
        padding: 60px 0;
        .footer_logo{
            padding-bottom: 25px;
        }
        h3{
            font-weight: 700;
            font-size: 24px;
            color: $text-color;
            padding-bottom: 30px;
        }
        .footer_info_icon a{
            color: $paragraph-color;
            font-size: 30px;
            margin-right: 26px;
            transition: all linear 0.4s;
            &:hover{
                color: $primary-color-1;
            }
        }
        .footer_info_first_p{
            font-size: 16px;
            color: $paragraph-color;
            padding-bottom: 20px;
        }
        .foot_info_li a{
            font-size: 16px;
            color: $paragraph-color;
            padding-bottom: 3px;
            font-weight: 400;
            transition: all linear 0.4s;
            &:hover{
                color: $primary-color-1;
            }
            i{
                font-size: 10px;
            }
        }
        .contact_item a{
            font-size: 16px;
            color: $paragraph-color;
            padding-bottom: 3px;
            font-weight: 400;
            transition: all linear 0.4s;
            &:hover{
                color: $primary-color-1;
            }
        }
        .contact_item i{
            font-size: 24px;
            color: $primary-color-1;
            margin-right: 8px;
        }
    }

    .footer_last{
        padding: 15px 0;
        color: $paragraph-color;   
        border-top: 1px dotted $primary-color-3; 
        p{
            font-size: 16px;
            a{
                color: $primary-color-1;
                margin: 0 5px;
            }
        }
    }
}






