#banner
{
    padding: 0 30px;
    h4{
        font-size: 18px;
        font-weight: 600;
    }
    h1{
        font-weight: 700;
        font-size: 64px;
        margin: 14px 0 17px;
    }
    p{
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 25px;
    }
    a{
    font-weight: 600;
    font-size: 16px;
    padding: 13px 20px;
    color: $white-color;
    background-color: $primary-color-1;
    // border: transparent;
    transition: 0.5s;
    i{
        font-size: 10px;
        margin-left: 4px;
    }
    
    &:hover{
    background-color: $white-color;
    color: $primary-color-1;
    border-radius: 10px;
    word-spacing: 2px;
    // border: 1px dotted $text-color;
    }
    }



    .banner_slider_item{
        height: 700px;
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat!important;
        position: relative;
        z-index: 1;
        color: $white-color;
        &.overlay::after{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 50%;
            height: 100%;
            z-index: -1;
            background-image: linear-gradient(90deg, rgba(2, 5, 19, 0.7) 0%, rgba(2, 4, 17, 0.617485) 21.81%, rgba(1, 4, 15, 0.548445) 37.92%, rgba(1, 3, 13, 0.48336) 50.29%, rgba(0, 0, 0, 0) 100%);
        }
        
    }

    .banner_slider_dots{
        position: absolute;
        bottom: 25%;
        left: 4%;
        display: flex;
        li{
            button{
                font-size: 0;
                border: none;
                width: 10px;
                height: 6px;
                border-radius: 5px;
                margin-right: 5px;
                background-color: $white-color;
            }
            &.slick-active button{
                background-color: $primary-color-1;
                width: 26px;
            }
        }
    }
}