


#promotion{
    .promotion_section{
        // transform: translateY(-50%);
        // box-shadow: $box-shadow-2;
        background-color: $white-color;
        .order_item{
            padding: 20px;
            .promotion_item{
                border-right: 4px solid $background-color;
                padding: 20px;
                &:last-child{
                    border-right: none;
                }
                .promotion_item_content i{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    line-height: 50px;
                    text-align: center;
                    font-size: 24px;
                    color: $white-color;
                    background-color: $primary-color-1;
                }
                .promotion_intro{
                    padding-left: 20px;
                }
                h4{
                    font-weight: 600;
                    font-size: 20px;
                    color: $text-color;
                }
                p{
                    font-size: 16px;
                    color: $paragraph-color;
                    line-height: 28px;
                }
                span{
                    color: $primary-color-1;
                }
                
            }
        }
    }
    
    
}

footer{
    background: url(..//images/banner1.jpg);
    background-position: center;
    background-size: cover;
    z-index: 1;
    color: $white-color;
    position: relative;
    margin-top: 40px;
    &::after{
        content: '';
        position: absolute;
        inset: 0;
        background: rgba(5, 0, 0, 0.75);
        z-index: -1;
    }
    #promotion{
        padding: 0;
    }
    .promotion_section{
        transform: translateY(-50%);
        box-shadow: $box-shadow-2;
    }
    .footer_head{
        border-bottom: 1px solid $white-color;
        padding-bottom: 70px;
        .footer_social_icon a{
            color: $text-color;
            font-size: 18px;
            background-color: $background-color;
            width: 35px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            margin-right: 15px;
            transition: all linear 0.5s;
            &:hover{
                color: $white-color;
                background-color: $primary-color-1;
            }
        }
    }
    .footer_info{
        padding: 70px 0;
        h3{
            font-weight: 700;
            font-size: 24px;
            margin-bottom: 30px;
        }
        ul li a{
            font-size: 16px;
            color: $white-color;
            margin-bottom: 10px;
            font-weight: 400;
            transition: all linear 0.5s;

            &:hover{
                color: $primary-color-1;
            }
            i{
                font-size: 12px;
            }
        }
        .date p{
            font-weight: 700;
            font-size: 16px;
            margin-bottom: 10px;
        }
        .time p{
            font-weight: 400;
            font-size: 16px;
            margin-bottom: 10px;
        }
        .fa-location-dot{
            font-size: 26px;
            height: 30px;
            color: $primary-color-1;
        }
        .fa-phone{
            font-size: 26px;
            height: 30px;
            color: $primary-color-1;
        }
        .fa-envelope{
            font-size: 26px;
            height: 30px;
            color: $primary-color-1;
        }

        .contact_item {
            margin-bottom: 10px;
            a{
                color: $white-color;
                font-size: 16px;
                font-weight: 400;
            }
        }
        .newsletter {
            p{
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                margin-bottom: 23px;
            }
            input{
                padding: 10px 5px;
                background-color: $white-color;
                border: none;
            }
            button{
                background-color: $primary-color-1;
                color: $white-color;
                padding: 10px 15px;
                cursor: pointer;
                margin-left: -5px;
                border: none;

            }
        }
    }
    .footer_last{
        background-color: rgba(255, 255, 255, 0.2);
        padding: 20px 0;
    }
}



