#navigation{
    background-color: $white-color;
    ul li{
        display: inline-block;
        margin: 0 15px;
        a{
            font-weight: 400;
            font-size: 16px;
            color: $text-color;
            transition: 0.6s;
            &:hover{
                color: $primary-color-2;
            }
            span{
                font-size: 12px;
            }
        }    
    }
    .nav_icon_menu li{
        margin: 0 12px;
        position: relative;
        a{
            font-weight: 400;
            font-size: 16px;
            color: $text-color;
        }
        i{
            font-size: 20px;
            cursor: pointer;
            color: $primary-color-3;
            transition: 0.6s;
            &:hover{
                color: $primary-color-1;
            }
        }
        span{
            position: absolute;
            color: $background-color;
            background-color: $primary-color-1;
            width: 15px;
            height: 15px;
            line-height: 15px;
            text-align: center;
            border-radius: 50%;
            top: -3px;
            left: 13px;
            font-size: 12px;    
        }
    }
    .dropdown-menu{
        min-width: 160px !important;
    }
    .nav_icon_menu a i{
        width: 20px;
        height: 18.35px;
        color: $primary-color-3;
    }
    &.active{
        padding: 0;
        animation-name: fixedMenu;
        animation-duration: .8s;
        animation-fill-mode: forwards;
        position: fixed;
        width: 100%;
        z-index: 99999999999999999999999999999;
        border-bottom: 1px dotted $primary-color-2;
    }
}
@keyframes fixedMenu {
    from{
        top: -100px;    
    }
    to{
        top: 0;
    }
}


