
// Bandcomb section 

#shop-details_bandcamb{
    background: url(..//images/breadcumb_bg_shop_details.png);
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
    z-index: 1;
    color: $white-color;
    &::after{
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0,0,0,.5);
        z-index: -1;
    }
}

// Bandcomb section ends here 



// Product destails slider section starts 

#product_details{
    padding: 80px 0;
    position: relative;
    .shop_product_small_slider_item.slick-center img{
        box-shadow: $box-shadow-2;
        transform: scale(1.1);
    }
    .shop_small_slider_left{
        position: absolute;
        bottom: 23%;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
        text-align: center;
        color: $white-color;
        background-color: $primary-color-3;
        opacity: 0.3;
        cursor: pointer;
        z-index: 9999;
    }
    .shop_small_slider_right{
        position: absolute;
        bottom: 23%;
        left: 47%;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
        text-align: center;
        color: $white-color;
        background-color: $primary-color-3;
        opacity: 0.3;
        cursor: pointer;
        z-index: 9999;
    }
    h3{
        font-weight: 700;
        font-size: 36px;
        color: $text-color;
        padding-bottom: 5px;
    }
    .review{
        margin: 5px 0;
        h6{
            font-size: 16px;
            padding-right: 10px;
        }
        i{
            color: $primary-color-1;
        }
        p{
            font-size: 16px;
            color: $paragraph-color;
            padding-left: 10px;
            margin-left: 10px;
            border-left: 1px solid $gray-color;
        }
    }
    .price{
        padding: 20px 0;
        ins{
            font-weight: 600;
            font-size: 20px;
            color: $text-color;
            margin-right: 20px;
        }
        del{
            font-weight: 400;
            font-size: 16px;
            color: $paragraph-color;
        }
    }
    .product_description p{
        font-size: 16px;
        line-height: 28px;
        color: $paragraph-color;
        padding-bottom: 30px;
    }
    hr{
        padding-bottom: 30px;
    }
    .product_select{
        margin-bottom: 24px;
        h6{
            font-size: 18px;
            font-weight: 600;
            color: $text-color;
            margin-right: 30px;
        }
    }
    h5{
        font-size: 18px;
        font-weight: 600;
        color: $text-color;
        padding-bottom: 15px;
    }
    .product_quantity{
        padding-bottom: 40px;
        .anchor_design{
            background-color: $primary-color-1;
            color: $white-color;
            margin: 0 10px;
            transition: all linear 0.4s;
            &:hover{
                background-color: $primary-color-3;
            }
        }
        ul li a{
            margin-right: 10px;
            font-size: 14px;
            color: $white-color;
            background-color: $primary-color-3;
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            transition: all linear 0.4s;
            &:hover{
                background-color: $primary-color-1;
            }
        }
    }
    .product_meta{
        .product_meta_details{
            h4{
                font-weight: 600;
                font-size: 18px;
                color: $text-color;
                padding-right: 15px;
            }
            p{
                font-weight: 400;
                font-size: 18px;
                color: $paragraph-color;
            }
            a{
                font-size: 18px;
                color: $paragraph-color;
                font-weight: 400;
            }
            .d-flex{
                margin-bottom: 10px;
            }
        }
        .social_icon_k a{
            font-size: 18px;
            color: $paragraph-color;
            padding: 0 5px;
        }
    }

    
}

.input-group {
    width: 20%;
}

// Product details slider section ends 



// Product destails slider section starts 



.navAndTab_table {
    margin: 0 0 1.5em;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid black;
}


.navAndTab_table tbody tr td {
    border: 1px solid black;
    padding: 9px 12px;
}
  
.navAndTab_table tbody tr th {
    border: 1px solid black;
    padding: 9px 12px;
}


#product_description_review{
    padding: 30px 0;
    #nav-tab{
        border: none;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        button{
            border: none;
            font-size: 20px;
            font-weight: 500;
            border-radius: 0;
            padding: 15px 50px;
            color: $white-color;
            background-color: $text-color;
            &.active{
                background-color: $primary-color-1;
            }
        }
    }
    .custom_review{
        box-shadow: $box-shadow-2;
        padding: 20px 10px;
        .stars{
            display: flex;
            margin: 20px 0;
            gap: 15px;
            i{
                color: $primary-color-1;
                cursor: pointer;
                font-size: 20px;
                transition: all linear 0.4s ease;
                &.active{
                    // color: $primary-color-2;   
                    background-color: $primary-color-3;
                }
            }
        }
        .form-group textarea{
            margin: 15px 0;
        }
        button{
            color: $white-color;
            background-color: $text-color;
            margin-top: 15px;
            &:hover{
                background-color: $primary-color-1;
            }
        }
    }
    .review{
        margin-bottom: 20px;
        .row{
            padding-bottom: 30px;
        }
        hr{
            padding-top: 30px;
        }
        img{
            border-radius: 50%;
        }
        i{
            font-size: 16px;
            color: $primary-color-1;
            margin-right: 10px;
        }
        h5{
            margin: 15px 0;
            font-size: 24px;
            font-weight: 600;
            display: inline;
            small{
                margin-left: 10px;
                font-size: 18px;
                font-weight: 400;
            }
        }
        p{
            font-size: 16px;
            padding-top: 15px;
            line-height: 1.75;
        }

    }
}




 
