#wishlist_bandcamb{
    background: url(..//images/breadcumb_bg_wishlist.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    height: 400px;
    color: $white-color;
    &::after{
        content: '';
        position: absolute;
        inset: 0;
        background: rgba(0,0,0,0.5);
        z-index: -1;
    }
}


#wishlist{
    padding: 50px 0;
    th{
        background-color: $gray-color;
    }
}